@{
    ViewBag.Title = "Index";
    
}

@section sidebar
{
            <td id="left_col">
                <ul id="my_menu">
                    <li><a href="#"><span>Mobile phone</span></a></li>
                    <li><a href="#"><span>Notebook</span></a></li>
                    <li><a href="#"><span>Camera</span></a></li>
                    <li><a href="#"><span>Headphones</span></a></li>
                </ul>
            </td>
}