﻿#pole_size {
width: 100%;
}

#header {
height: auto; 
background-color:#B1F080; 
padding: 12px; 
}

#left_col {
width: 198px;
vertical-align:top;
background-color: White; 
}

#center_col {
background-color:#ffffff; 
padding: 16px;
height: 500px;
}

#footer {
height: auto;
padding: 12px; 
background-color: #B1F080;
font-size: 12px; 
 }

p {
	margin: 16px 10px 20px;
}

a {
	color: Red;
	outline: none;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}