﻿@{
    ViewBag.Title = "Index";
}


<h2 style="text-align:center">Please select background color for your page</h2>
<br />
<br />
<script type="text/javascript">
    var default_color = "#fff";
    function SetTempColor(c)
    {
        document.body.style.backgroundColor = c;
    }
    function SetDefaultColor(c)
    {
        default_color = c;
        document.body.style.backgroundColor = default_color;
    }
    function defaultColor()
    {
        document.body.style.backgroundColor = default_color;
    }
</script>

<center>
<button style="background-color:yellow" onmouseover="SetTempColor('yellow')" onmouseout="defaultColor()" onclick="SetDefaultColor('yellow')"></button>
<button style="background-color:blue" onmouseover="SetTempColor('blue')" onmouseout="defaultColor()" onclick="SetDefaultColor('blue')"></button>
<button style="background-color:green" onmouseover="SetTempColor('green')" onmouseout="defaultColor()" onclick="SetDefaultColor('green')"></button>
</center>