﻿#pole_size {
width: 100%;
height: 100%;
}

#header {
height: auto; 
background-color:#B1F080; 
padding: 12px; 
}

#left_col {
width: 198px;
vertical-align:top;
background-color: White; 
}

#center_col {
height: 600px;
vertical-align:top;
background-color: White; 
padding: 16px;

}

#footer {
height: 12px;
background-color: #B1F080;
font-size: 12px; 
 }

