﻿@model IEnumerable<MvcApplication7.Models.Catalogs>

@{
    ViewBag.Title = "Contacts";
    
}



@section sidebar
{
    <td id="left_col">
    <ul id="my_menu">
        @foreach (var item in Model)
        {
            <li><a href="Index/?id=@Html.DisplayFor(modelItem => item.CatalogId)"><span>@Html.DisplayFor(modelItem => item.Name)</span></a></li>
        }

    </ul>
</td>
}
