﻿@model IEnumerable<MvcApplication7.Models.Catalogs>

<td id="left_col">
    <ul id="my_menu">
        @foreach (var item in Model)
        {
            <li><a href="?id=@Html.DisplayFor(modelItem => item.CatalogId)"><span>@Html.DisplayFor(modelItem => item.Name)</span></a></li>
        }

    </ul>
</td>
