﻿@model MvcApplication3.Models.Userinfo
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<form method="post">
    <label>Ваше имя:</label>
    @Html.TextBox("UserName")<br />
    <input type="submit" value="Продолжить"/><br />
    <label>Здравствуйте, </label>@Html.DisplayFor(model => model.UserName)
</form>
