<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/page_style.css")
    @Styles.Render("~/Content/my_menu.css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1251">
</head>
<body>
    <h2>Shop</h2>
    <table id="pole_size">

        <tr>
            <td colspan="2" id="header" style="text-align:center">
            @Html.ActionLink("Home", "Index") | 
            @Html.ActionLink("Contacts", "Contacts") | 
            @Html.ActionLink("About", "About")
            </td>
        </tr>

        <tr>
            @RenderSection("sidebar", required:false)
                        
            <td id="center_col">

                <h2 style="text-align:center">@ViewBag.Title </h2>

            </td>

        <tr>
            <td colspan="2" id="footer">
                <h3 style="text-align:center">Copyright 2014</h3>  

            </td>
        </tr>

    </table>
    
    @RenderBody()
     

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
