﻿@model MvcApplication1.Models.Man

@{
    ViewBag.Title = "Register";
}

<h2>Register user</h2>
<form method="post">
    <label>Name:</label>
    <input id="Name" name="Name" type="text" />
    @Html.ValidationMessage("Name")<br />
    <label>Surname:</label>
    <input type="text" /><br />
    <label>Gender:</label>
    <label>M:</label><input name="gender" value="M" type="radio" />
    <label>W:</label><input name="gender" value="W" type="radio" /><br />
    <label>Age:</label>
    <input id="Age" name="Age" type="text" />
    @Html.ValidationMessage("Age")<br />
    <label>Country:</label>
    @Html.CountrySelect()<br />
    <label>Password:</label>
    <input type="password" /><br />
    <input type="button" value="Register" />
    <input type="submit" value="RegisterSubmit" />
</form>

