﻿@model MvcApplication1.Models.Man

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post">
    @Html.ValidationSummary()
    <label>Name:</label>
    <input name="Name" id="Name" type="text"/>
    @Html.ValidationMessage("Name")<br />
    <label>Surname:</label>
    @Html.TextBox("Surname")
    @Html.ValidationMessage("Surname")
    <label>Gender:</label>
    @Html.RadioButton("gender", "M")
    @Html.RadioButton("gender", "W")<br />
    <label>Country:</label>
    <select>
        <option>Belarus</option>
        <option>Ukraine</option>
        <option>Russia</option>
    </select><br />
    <label>Password:</label>
    <input type="password" /><br />
    <input type="button" value="Register" />
    <input type="submit" value="RegisterSubmit" />

    @Html.MyRadioButton()
</form>